<section>
    <div class="con">
        <div class="cs">
            <h1 id="con">Got Talent ?<br> 
              <h2 id="vss">
                  Meet Opportunity
                </h2>        
            </h1>
            <img src="../assets/interview.svg" alt="" id="interst">
            <p>Helping millions of people find their dream jobs in a remote-first world</p>
        </div>
        <div class="cs1">

            <p id="b">Single point access to over<br> 100+ job boards </p>
            <br>
            <p id='s'> We search for new jobs daily from all leading job boards <br>
                to bring you the best opportunities in the industry you are looking for.</p>

            <img src="../assets/search.svg" alt="" class="search">
        </div>
        <div class="boo">
            <a routerLink="/register">
                Register here
            </a>
        </div>
        <div class="cs2">
            <h1>Our core Values</h1>
            <div class="v">
                <span>
                    Innovation
                </span>
            </div>
            <div class="v">
                <span>
                    Passion
                </span>
            </div>
            <div class="v">
                <span>
                    Continuous Improvement
                </span>
            </div>
            <div class="v">
                <span>
                    Quality
                </span>
            </div>
            <div class="v">
                <span>
                    Empathy
                </span>
            </div>
            <div class="v">
                <span>
                    Integrity
                </span>
            </div>
            <div class="ddd">
                <img src="../assets/offers.svg" alt="" class="of">
            </div>
        </div>

        <!-- <div class="contact">
            <h1 id="x">Contact us.</h1>
            <img src="../assets/c.svg" alt="" class="interst">
        </div> -->

    </div>
</section>



