<body>
    <!-- <app-home></app-home> -->
    <p id="y">Please fill the Details</p>
    <button class="btn btn-primary block sz" type="button" (click)="Signout()">
        Signout
    </button>
    <div class=container>
            <div class="con  ">
                <form class="example-form" [formGroup]="service.login" (submit)="Submit()">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>FirstName</mat-label>
                        <input type="text" matInput formControlName="first" placeholder="FirstName">
                        <span class="error" *ngIf="first!.invalid &&first!.touched">*FirstName is Required</span>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>LastName</mat-label>
                        <input type="text" matInput formControlName="last" placeholder="LastName">
                        <span class="error" *ngIf="last!.invalid &&last!.touched">*LastName is Required</span>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="text" matInput formControlName="email" placeholder="Ex. pat@example.com">
                        <span class="error" *ngIf="email!.invalid &&email!.touched">*Email is Required</span>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Phone</mat-label>
                        <input type="text" matInput formControlName="phone" placeholder="123456789">
                        <span class="error" *ngIf="phone!.invalid &&phone!.touched">*phone is Required</span>
                    </mat-form-field>
                    <div class="mb-3 con1">
                        <div class="gf">Resume</div>
                        <input type=file (change)="upload($event)" />
                    </div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Address</mat-label>
                        <input type="text" matInput formControlName="address" placeholder="Ex. Address">
                        <span class="error" *ngIf="address!.invalid &&address!.touched">*address is Required</span>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Postalcode</mat-label>
                        <input type="text" matInput formControlName="Postalcode" placeholder="Ex.530026">
                        <span class="error" *ngIf="post!.invalid &&post!.touched">*Postalcode is Required</span>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>city</mat-label>
                        <input type="text" matInput formControlName="City" placeholder="Ex.visakhapatnam">
                        <span class="error" *ngIf="City!.invalid &&City!.touched">*City is Required</span>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Country</mat-label>
                        <input type="text" matInput formControlName="Country" placeholder="Ex.India">
                        <span class="error" *ngIf="Country!.invalid &&Country!.touched">*Country is Required</span>
                    </mat-form-field>
                    <div *ngIf="!this.service.check else elseBlock">
                        <button type="submit" class="btn btn-primary btx">Submit</button>
                    </div>
                    <ng-template #elseBlock>
                        <button type="submit" class="btn btn-primary btx">Update</button>
                    </ng-template>
                </form>
            </div>
        <!-- </ng-template> -->
    </div>
    <div class="c">
        <app-footer></app-footer>
    </div>
</body>