@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.row{
    height:50%;
    width:50%;
}
*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* background: linear-gradient(#fff ,#c7e08d ); */
    /* width: 100%; */
    /* overflow-y: hidden; */
    /* min-height: 100vh; */
}
.sz{
    position: relative;
    top:-3.2rem;
    left:72rem;
    padding: 3px 3px;
}
#y{
    position: relative;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    margin-left:1rem;
}
.error{
    color:red;
}
.y{
    margin-top:1rem;
}
body{
    /* background: linear-gradient(#fff ,#c7e08d ); */
    min-height: 120h;
    box-sizing: border-box;
    /* overflow-y:scroll ; */
}
 .con1 input.ng-invalid {
    border-left:5px solid red;
}
.con1 input.ng-valid {
    border-left:5px solid green;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  form .con1 .gf{
      margin-bottom: 5px;
  }
.con{
    /* box-shadow: -1px 1px 5px 9px gray; */
    border-radius: 1rem;
    height:150vh;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-5rem;
    left:24rem;
    padding: 1.5rem 1.5rem;
    margin-bottom: 9px;
    /* background-color: white; */
}
.btx{
    padding: 3px 3px;
    margin-top:6px;
}
.c{
    position: relative;
    top:-1rem;
}
/* .con form{
    height: 100vh;
} */